.board {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.button {
    align-self: center;
    width: 100px;
    margin-top: 50px;
}