.cell {
    height: 50px;
    width: 50px;
    background: lightgray;
    padding: 0;
    border: 3px outset;
}

.clicked {
    border: 3px inset;
}

.cell:hover {
    background: darkgray;
}

.cell:disabled {
    background: darkgray;
    color: white;
}